
<div class="block">
  <h5>June <span>9<span class="small">th</span><span></h5>
    <h6>groupstage</h6>
    <dl>
      <dt class="full"><strong>Final Results</strong></dt>
      <dd>&nbsp;</dd>
      <dt>&nbsp;</dt>
      <dd>&nbsp;</dd>
      <dt class="highlight full"><strong>Netherlands : Denmark 0:1<strong></dt>
      <dd>&nbsp;</dd>
      <dt class="highlight full"><strong>Germany : Portugal 1:0</strong></dt>
      <dd>&nbsp;</dd>
      <dt class="full bigbtn">
        <div>
          <!--<p class="videos"><a href="">Videos des Tages</a></p>//-->
          <p class="photos"><a href="http://www.facebook.com/media/set/?set=a.393958753983000.88495.383040835074792&type=1" target="_blank">Photos of the day</a></p>
        </div>
      </dt>
      <dd></dd>
    </dl>
</div>

<div class="block">
  <h5>June <span>13<span class="small">th</span><span></h5>
    <h6>groupstage</h6>
    <!--
    <dl>
      <dt class="highlight">16:00</dt>
      <dd class="highlight">Opening Show</dd>
      <dt>17:00</dt>
      <dd>Coca-Cola Gewinnspiel</dd>
      <dt>17:30</dt>
      <dd>Hyundai Entertainment</dd>
      <dt>17:45</dt>
      <dd>DJ Eric RTL 104,6</dd>
      <dt>18:00</dt>
      <dd>Niederlande : Deutschland</dd>
      <dt>18:45</dt>
      <dd>Halbzeit Games u. Fun</dd>
      <dt>19:00</dt>
      <dd>Live Essen : Köln</dd>
      <dt>19:45</dt>
      <dd>Party mit Silbermond Live</dd>
      <dt>21:00</dt>
      <dd>Entertainment mit Hyundai</dd>
      <dt>12:00</dt>
      <dd>Party open end hit DJ Eric</dd>
    </dl>
    //-->
    <dl>
      <dt>13:00</dt>
      <dd>Gates open</dd>
      <dt class="highlight">18:00</dt>
      <dd class="highlight">Denmark - Portugal</dd>
      <dt class="highlight">20:45</dt>
      <dd class="highlight">Netherlands - Germany</dd>
      <dt>24:00</dt>
      <dd>End of event</dd>
      <dt class="full bigbtn">
        <div class="spacer">&nbsp;</div>
      </dt>
      <dd></dd>
    </dl>
</div>

<div class="block">
  <h5>June <span>17<span class="small">th</span><span></h5>
    <h6>groupstage</h6>
    <dl>
      <dt>13:00</dt>
      <dd>Gates open</dd>
      <dt class="highlight">20:45</dt>
      <dd class="highlight">Portugal - Netherlands</dd>
      <dt class="highlight">20:45</dt>
      <dd class="highlight">Denmark - Germany</dd>
      <dt>24:00</dt>
      <dd>End of Event</dd>
      <dt class="full bigbtn">
        <div class="spacer">&nbsp;</div>
      </dt>
      <dd></dd>
    </dl>
</div>

<div class="block">
  <h5>June <span>22<span class="small">th</span><span></h5>
    <h6>groupstage</h6>
    <%= image_tag "/assets/comingsoon.png" %>
</div>

<div class="block">
  <h5>June <span>27<span class="small">th</span><span></h5>
    <h6>groupstage</h6>
    <%= image_tag "/assets/comingsoon.png" %>
</div>

<div class="block">
  <h5>June <span>28<span class="small">th</span><span></h5>
    <h6>groupstage</h6>
    <%= image_tag "/assets/comingsoon.png" %>
</div>

<div class="block">
  <h5>July <span>01<span class="small">th</span><span></h5>
    <h6>groupstage</h6>
    <%= image_tag "/assets/comingsoon.png" %>
</div>

<div class="block ad">
  <%= render "shared/ad_hyundai" %>
</div>
