<div class="block">
  <h5><span>09</span>.Juni</h5>
    <h6>Gruppenrunde</h6>
    <!--
    <div class="past">
      <p class="head">Endergebnis</p>
      <p class="highlight">Deutschland : Portugal 4:0</p>
      <div>
        <p class="videos"><a href="http://facebook.com">Videos des Tages</a></p>
        <p class="photos"><a href="http://facebook.com">Bilder des Tages</a></p>
      </div>
    </div>
    //-->
    <dl>
      <dt>13:00</dt>
      <dd>Einlass</dd>
      <dt >16:30</dt>
      <dd >Live Talk mit Paul Breitner</dd>
      <dt class="highlight">18:00</dt>
      <dd class="highlight">Niederlande - Dänemark</dd>
      <dt class="highlight">20:45</dt>
      <dd class="highlight">Deutschland - Portugal</dd>
      <dt>24:00</dt>
      <dd>Ende der Veranstaltung</dd>
    </dl>
</div>

<div class="block">
  <h5><span>13</span>.Juni</h5>
    <h6>Gruppenrunde</h6>
    <!--
    <dl>
      <dt class="highlight">16:00</dt>
      <dd class="highlight">Opening Show</dd>
      <dt>17:00</dt>
      <dd>Coca-Cola Gewinnspiel</dd>
      <dt>17:30</dt>
      <dd>Hyundai Entertainment</dd>
      <dt>17:45</dt>
      <dd>DJ Eric RTL 104,6</dd>
      <dt>18:00</dt>
      <dd>Niederlande : Deutschland</dd>
      <dt>18:45</dt>
      <dd>Halbzeit Games u. Fun</dd>
      <dt>19:00</dt>
      <dd>Live Essen : Köln</dd>
      <dt>19:45</dt>
      <dd>Party mit Silbermond Live</dd>
      <dt>21:00</dt>
      <dd>Entertainment mit Hyundai</dd>
      <dt>12:00</dt>
      <dd>Party open end hit DJ Eric</dd>
    </dl>
    //-->
    <dl>
      <dt>13:00</dt>
      <dd>Einlass</dd>
      <dt class="highlight">18:00</dt>
      <dd class="highlight">Dänemark - Portugal</dd>
      <dt class="highlight">20:45</dt>
      <dd class="highlight">Niederlande - Deutschland</dd>
      <dt>24:00</dt>
      <dd>Ende der Veranstaltung</dd>
      <dt>&nbsp;</dt>
      <dd>&nbsp;</dd>
    </dl>
</div>

<div class="block">
  <h5><span>17</span>.Juni</h5>
    <h6>Gruppenrunde</h6>
    <dl>
      <dt>13:00</dt>
      <dd>Einlass</dd>
      <dt class="highlight">20:45</dt>
      <dd class="highlight">Portugal - Niederlande</dd>
      <dt class="highlight">20:45</dt>
      <dd class="highlight">Dänemark - Deutschland</dd>
      <dt>24:00</dt>
      <dd>Ende der Veranstaltung</dd>
      <dt>&nbsp;</dt>
      <dd>&nbsp;</dd>
    </dl>
</div>

<div class="block">
  <h5><span>22</span>.Juni</h5>
    <h6>Viertelfinale</h6>
    <%= image_tag "/assets/comingsoon.png" %>
</div>

<div class="block">
<h5><span>27</span>.Juni</h5>
    <h6>Halbfinale 1</h6>
    <%= image_tag "/assets/comingsoon.png" %>
</div>

<div class="block">
  <h5><span>28</span>.Juni</h5>
    <h6>Halbfinale 2</h6>
    <%= image_tag "/assets/comingsoon.png" %>
</div>

<div class="block">
  <h5><span>01</span>.Juli</h5>
    <h6>Finale</h6>
    <%= image_tag "/assets/comingsoon.png" %>
</div>

<div class="block ad">
  <%= render "shared/ad_hyundai" %>
</div>
