<h2><span><%= t "pages.fanfest.title" %></span></h2>

<h3 class="teaser left lower"><%= t("pages.fanfest.teaser").html_safe %></h3>

<div class="col">
  <%= t("pages.fanfest.p1").html_safe %>
</div>
<div class="col">
  <%= t("pages.fanfest.p2").html_safe %>
</div>
<div class="clearfix"></div>

<div class="map">
  <h4><span><%= t "pages.fanfest.location" %></span></h4>
  <img src="/assets/map-de.jpg" alt="Location" />
  <div class="divider dot5">
  </div>
</div>


<div class="col">
  <%= t("pages.fanfest.hospitality").html_safe %>
</div>
<div class="col">
  <%= t("pages.fanfest.directions").html_safe %>
</div>
<div class="clearfix">
  
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
