<h3 class="teaser"><%= t("pages.home.teaser").html_safe %></h3>

<div class="facebook">
  <%= render :partial => "facebook" %>
</div>
<div class="highlights">
  <h4><span><%= t "pages.home.highlights" %></span></h4>
  <div id="slidedeck_frame" class="slidedeck_frame skin-gedankenwerk" style="width: 949px; height: 508px; ">
    <%= render :partial => "highlights" %>
    <%= render "shared/highlights_nav" %>
  </div>
  <div class="divider dot5">
  </div>
</div>
<p class="hyundai">Hyundai Fan Park Berlin</p>
<div class="schedule">
  <h3><span><%= t("pages.home.schedule") %></span></h3>
  <%= render "schedule" %>
  <div class="clearfix"></div>
</div>


<script type="text/javascript">
  $('.slidedeck').slidedeck({
    hideSpines: true,
    cycle: true
  });
</script>
