<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @page.name %>
</p>

<p>
  <b>Title:</b>
  <%= @page.title %>
</p>

<p>
  <b>Page type:</b>
  <%= @page.page_type %>
</p>

<p>
  <b>Content:</b>
  <%= @page.content %>
</p>

