<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <title>Fanmeile</title>
  
  <meta name="description" content="">

  <!--<meta name="viewport" content="width=device-width">//-->
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:action] %> <%= params[:locale] %>">
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <div id="pagewrap">

    <header>
      <ul id="langswitch">
        <li><%= link_to_unless_current "DEUTSCH", locale: "de" %></li> <span>|</span>
        <li><%= link_to_unless_current "ENGLISH", locale: "en" %></li>
      </ul>

      <h1>HYUNDAI Fan Park Berlin</h1>

      <nav>
        <ul id="mainnav">
          <li class="home_nav"><%= link_to t("pages.home.title"), controller: "pages", action: "home"  %></li>
          <li class="fanfest_nav"><%= link_to t("pages.fanfest.title"), controller: "pages", action: "fanfest"  %></li>
          <li class="faq_nav"><%= link_to t("pages.faq.shorttitle"), controller: "pages", action: "faq"  %></li>
          <li><%= link_to t("pages.review.title"), "http://facebook.com/fanmeileberlin", target: "_blank"  %></li>
          <li class="press_nav"><%= link_to t("pages.press.title"), controller: "pages", action: "press"  %></li>
          <li><%= link_to t("pages.hyundai.title"), "http://www.hyundai.de/auswaertsspiel", target: "_blank"  %></li>
          <li><%= link_to t("pages.cocacola.title"), "http://euro2012.coke.com/de_DE", target: "_blank"  %></li>
        </ul>
      </nav>

    </header>
    <div role="main" id="mainwrapper">



      <%= yield %>

    </div>

  </div>
  <footer>
    <div class="decor">
      
    </div>
    <p class="sponsor-header">Hyundai Fan Park Berlin</p>
    <div class="sponsor-links-wrapper">
      <ul class="sponsor-links">
        <li id="sponsor-canon"><a href="http://www.canon.de/" target="_blank">Canon</a></li>
        <li id="sponsor-carlsberg"><a href="http://www.carlsberg.de/" target="_blank">Carlsberg</a></li>
        <li id="sponsor-cocacola"><a href="http://www.coke.de/" target="_blank">Coca-Cola</a></li>
        <li id="sponsor-rbb"><a href="http://www.rbb-online.de/fernsehen/" target="_blank">rbb Fernsehen</a></li>
        <li id="sponsor-rtl"><a href="http://www.104.6rtl.com/" target="_blank">104,6 RTL</a></li>
      </ul>
    </div>
    <div id="footercontent">

      <div class="footercol">
        <h6>Navigation</h6>
        <ul id="footernav">
          <li><%= link_to t("pages.home.title"), controller: "pages", action: "home"  %></li>
          <li><%= link_to t("pages.fanfest.title"), controller: "pages", action: "fanfest"  %></li>
          <li><%= link_to t("pages.faq.shorttitle"), controller: "pages", action: "faq"  %></li>
          <li><%= link_to t("pages.review.title"), "http://facebook.com/fanmeileberlin", target: "_blank"  %></li>
          <li><%= link_to t("pages.press.title"), controller: "pages", action: "press"  %></li>
          <li><%= link_to t("pages.hyundai.title"), "http://www.hyundai.de/auswaertsspiel", target: "_blank"  %></li>
          <li><%= link_to t("pages.cocacola.title"), "http://euro2012.coke.com/de_DE", target: "_blank"  %></li>
        </ul>
      </div>


      <div class="footercol">
         <h6>Anbieter</h6>
         <p class="fixedfooterbox">Eine Produktion der K.I.T. Group Berlin in 
         Kooperation mit Compact Team Berlin & 
         Wohlthat Entertainment Berlin</p>
         <h6>Kontakt</h6>
         <p>E-mail: <a href="mailto:team@fanmeile-berlin.com">team@fanmeile-berlin.com</a><br/>
         <a href="http://fanmeile-berlin.com">www.fanmeile-berlin.com</a><br/>
         Tel: +49 30 24603 284<br/>
         Fax: +49 30 24603 200</p>
      </div>


      <div class="footercol">
         <h6>Mehr</h6>
         <p class="fixedfooterbox">Weiterempfehlen&nbsp;
          <a href="http://facebook.com/fanmeileberlin" target="_blank"><img src="/assets/facebook-mini.png" alt="Fanmeile Berlin auf Facebook" /></a>
          <a href="http://twitter.com/fanmeileberlin" target="_blank"><img src="/assets/twitter-mini.png" alt="Fanmeile Berlin auf Twitter" /></a>
          <br/><br />
          <%= link_to image_tag(t("footer.fbimg"), :alt => "Besuche unsere Facebook Fanpage"), "http://facebook.com/fanmeileberlin" %>
         </p>
         <h6>design und umsetzung</h6>
         <p>gedankenwerk - agentur für neue medien<br/>
         gentweg 10<br/>
         45356 essen<br/>
         <a href="http://gedankenwerk.com">www.gedankenwerk.com</a></p>
      </div>
    </div>

    <div id="bottomfooter">
      <p>2012 © k.i.t. group gmbh <a href="/imprint">impressum</a></p>
    </div>
  </footer>

  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
  <script type="text/javascript" src="http://fast.fonts.com/jsapi/9050192e-a3f4-46d0-bd1e-b015ee132913.js"></script>
</body>
</html>
