<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <title>Fanmeile</title>
  
  <meta name="description" content="">

  <meta name="viewport" content="width=1160">
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="facebook <%= params[:action] %> <%= params[:locale] %>">
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <img src="/assets/1px.png" id="fbsponsors" width="546" height="27" alt="sponsors" usemap="#sponsormap" />

  <map name="sponsormap">
    <area shape="rect" coords="0,0,90,28" alt="Berliner Morgenpost" href="http://www.morgenpost.de/" />
    <area shape="rect" coords="106,0,196,28" alt="Canon" href="http://www.canon.de/" />
    <area shape="rect" coords="200,0,285,28" alt="Carlsberg" href="http://www.carlsberg.de/" />
    <area shape="rect" coords="290,0,380,28" alt="Coca-Cola" href="http://www.coke.de/" />
    <area shape="rect" coords="385,0,470,28" alt="rbb Fernsehen" href="http://www.rbb-online.de/fernsehen/" />
    <area shape="rect" coords="475,0,550,28" alt="104.6 RTL Radio" href="http://www.104.6rtl.com/" />
  </map>

  <div id="pagewrap">

    <div role="main" id="mainwrapper">



      <%= yield %>

    </div>

  </div>

  <script>
    var _gaq=[['_setAccount','UA-31264205-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
  <script type="text/javascript" src="http://fast.fonts.com/jsapi/9050192e-a3f4-46d0-bd1e-b015ee132913.js"></script>
</body>
</html>
